.navbar {
  color: white;
  font-size: 15px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
};

.logo .test {
  height: 100%;
  width: 100%;
  border: 2px solid red;
};

.cart-link {
  height: 80%;
  width: 80%;
};


