.product-bloc{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;


  .product-grid {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  @media screen and (min-width: 200px) and (max-width: 640px) {
    .product-grid {
      display:flex;
      flex-direction: column;
    }
  }
}